<nav class="bg-white border-gray-200 px-2 sm:px-4 py-2.5 rounded dark:bg-gray-800">
  <div data-controller="toggle" class="container flex flex-wrap justify-between items-center mx-auto">
    <a href="#" class="flex">
      <svg width="36" height="36" xmlns="http://www.w3.org/2000/svg">
        <g>
          <title>Layer 1</title>
          <text xml:space="preserve" text-anchor="start" font-family="Noto Sans JP" font-size="10" id="svg_2" y="20.75" x="3.875" stroke-width="0" stroke="#000" fill="#000000">DEMO</text>
          <path id="svg_6" d="m-37.18312,-40.95833l0.56913,0l0.17587,-0.54067l0.17587,0.54067l0.56913,0l-0.46044,0.33415l0.17588,0.54067l-0.46044,-0.33416l-0.46044,0.33416l0.17588,-0.54067l-0.46044,-0.33415z" stroke="#000" fill="none"/>
          <path transform="rotate(-89.9203 18.3481 17.4702)" stroke="#000" id="svg_9" d="m1.59743,17.47018l7.17887,-16.12465l19.14365,0l7.17887,16.12465l-7.17887,16.12465l-19.14365,0l-7.17887,-16.12465z" fill="none"/>
          <path id="svg_20" d="m-30.88938,6.08385l-0.04442,0.03227l0.01698,-0.0522l-0.04441,-0.03227l0.0549,0.00001l0.01459,-0.04489l0.00238,-0.00729l0.01695,0.05217l0.05491,0l-0.04443,0.03227l0.01699,0.05222l-0.04443,-0.03229l0,0z" stroke-dasharray="5,5" stroke="#000" fill="none"/>
        </g>
      </svg>
      <span class="self-center text-lg font-semibold whitespace-nowrap dark:text-white ml-3">Chat</span>
    </a>
    <button data-action="click->toggle#toggle" type="button" class="inline-flex items-center p-2 ml-3 text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600" aria-controls="mobile-menu-2" aria-expanded="false">
      <span class="sr-only">Open main menu</span>
      <svg data-toggle-target="element" class="w-6 h-6" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z" clip-rule="evenodd"></path>
      </svg>
      <svg data-toggle-target="element" class="hidden w-6 h-6" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path>
      </svg>
    </button>
    <div class="hidden w-full md:block md:w-auto" id="mobile-menu" data-toggle-target="element">
      <ul class="flex flex-col mt-4 md:flex-row md:space-x-8 md:mt-0 md:text-sm md:font-medium">
        <li>
          <%= link_to "Home", '/',
                      :class => current_page?('/') ? 'block py-2 pr-4 pl-3 text-white bg-blue-700 rounded md:bg-transparent md:text-blue-700 md:p-0 dark:text-white' : 'block py-2 pr-4 pl-3 text-gray-700 hover:bg-gray-50 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-gray-400 md:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent' %>
        </li>
        <% if current_user %>
          <li>
            <%= link_to "Chat Room", '/rooms',
                        :class => current_page?('/rooms') ? 'block py-2 pr-4 pl-3 text-white bg-blue-700 rounded md:bg-transparent md:text-blue-700 md:p-0 dark:text-white' : 'block py-2 pr-4 pl-3 text-gray-700 hover:bg-gray-50 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-gray-400 md:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent' %>
          </li>
          <li>
            <%= link_to "Notifications", '/notifications',
                        :class => current_page?('/notifications') ? 'block py-2 pr-4 pl-3 text-white bg-blue-700 rounded md:bg-transparent md:text-blue-700 md:p-0 dark:text-white' : 'block py-2 pr-4 pl-3 text-gray-700 hover:bg-gray-50 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-gray-400 md:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent' %>
          </li>
          <li>
            <%= button_to "Logout", destroy_user_session_path, method: :delete %>
          </li>
        <% else %>
          <liv>
            <%= link_to "Login", new_user_session_path ,
                        :class => current_page?('/users/sign_in') ? 'block py-2 pr-4 pl-3 text-white bg-blue-700 rounded md:bg-transparent md:text-blue-700 md:p-0 dark:text-white' : 'block py-2 pr-4 pl-3 text-gray-700 hover:bg-gray-50 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-gray-400 md:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent' %>
          </liv>
          <liv>
            <%= link_to "Sign Up", new_user_registration_path ,
                :class => current_page?('/users/sign_up') ? 'block py-2 pr-4 pl-3 text-white bg-blue-700 rounded md:bg-transparent md:text-blue-700 md:p-0 dark:text-white' : 'block py-2 pr-4 pl-3 text-gray-700 hover:bg-gray-50 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-gray-400 md:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent' %>
          </liv>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
